<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://kit.fontawesome.com/c39d0aac49.js" crossorigin="anonymous"></script>
        {% if is_production %}
        <link rel="stylesheet" href="{{ url_for('static',filename='node/dist/css/main.min.css') }}" media="screen">
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700">
        <link rel="icon" href="data:,">
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
        <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
        <title>
            {% block title %}Log Base{% endblock %}
        </title>
    </head>
    <body id="body">
        <div id="loading"><div class="loader"></div></div>
        {% block layout %}{% endblock %}
        <div id="overlay" class="toggler"></div>

        {% if g.user %}
        <input type="hidden" id="user-name" value="{{ g.user.name }}">
        {% endif %}

        <script src="/static/node/dist/ignored/js/variable.js"></script>

        {% if is_production %}
        <script src="/static/node/dist/js/main.min.js"></script>
        {% else %}
        <script src="/static/node/dist/js/main.js"></script>
        {% endif %}
    </body>
</html>
