<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/c39d0aac49.js" crossorigin="anonymous"></script>
        {% if is_production %}
        <link rel="stylesheet" href="{{ url_for('static',filename='node/dist/css/main.min.css') }}" media="screen">
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700">
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
        <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
        <title>
            {% block title %}Log Base{% endblock %}
        </title>
    </head>
    <body id="body">
        <div id="loading"><div class="loader"></div></div>
        {% block layout %}{% endblock %}
        <div id="overlay" class="toggler"></div>

        {% if g.user %}
        <input type="hidden" id="user-name" value="{{ g.user.name }}">
        {% endif %}

        <script src="/static/node/dist/ignored/js/variable.js"></script>

        {% if is_production %}
        <script src="/static/node/dist/js/main.min.js"></script>
        {% else %}
        <script src="/static/node/dist/js/main.js"></script>
        {% endif %}

        <script>
            const MY_ID = (get_element('#user-settings')) ?
                get_element('#user-settings').dataset.user_id : null;

            const PHONE_BOOK = get_element('.p-index__phone-book')[0];
            const SIDE_CALL_MONITOR = get_element('.p-index__side-call-monitor')[0];
            const CALL_RESPONSE_BAR = get_element('.p-index__call-response-bar')[0];

            const SIDE_CALLER_NAME = get_element('.p-index__call-response-bar .caller-name')[0];
            const SIDE_CALLER_IMAGE = get_element('.p-index__call-response-bar .caller-img')[0];

            const ANSWER_BTN = get_element('#answer-call-btn');
            const REJECT_BTN = get_element('#reject-call-btn');

            const SIDE_MY_VIDEO = get_element('#side-my-video');
            const FULL_MY_VIDEO = get_element('#full-my-video');
            const SIDE_OTHER_VIDEO = get_element('#side-other-video');
            const FULL_OTHER_VIDEO = get_element('#full-other-video');
            const CONNECTING_TXT = get_element('.connecting')[0]
            const CONNECTED_TXT = get_element('.connected')[0]

            const USER_LIST = get_element('.p-index__callable-user-list li')



            // 「 Connecting 」 のテキストをサイドバー上に表示します
            show_connecting_txt = () => {
                CONNECTING_TXT.classList.remove('u-dn');
            }

            // 「 Connected 」 のテキストをサイドバー上に表示、「 Connecting 」のテキストは非表示にします
            show_connected_txt = () => {
                if (!CONNECTING_TXT.classList.contains('u-dn'))
                    CONNECTING_TXT.classList += ' u-dn';
                CONNECTED_TXT.classList.remove('u-dn');
            }

            // 「 Connecting 」および「 Connected 」のテキストを非表示にします
            hide_connect_txt = () => {
                if (!CONNECTING_TXT.classList.contains('u-dn'))
                    CONNECTING_TXT.classList += ' u-dn';
                if (!CONNECTED_TXT.classList.contains('u-dn'))
                    CONNECTED_TXT.classList += ' u-dn';
            }



            // サイドバー上の通話操作を、電話帳に切り替えます
            switch_to_phone_book = () => {
                PHONE_BOOK.classList.remove('u-dn');
                if (!SIDE_CALL_MONITOR.classList.contains('u-dn')) SIDE_CALL_MONITOR.classList += ' u-dn';
                if (!CALL_RESPONSE_BAR.classList.contains('u-dn')) CALL_RESPONSE_BAR.classList += ' u-dn';
            }

            // サイドバー上の通話操作を、ビデオモニターに切り替えます
            switch_to_video_monitor = () => {
                if (!PHONE_BOOK.classList.contains('u-dn')) PHONE_BOOK.classList += ' u-dn';
                SIDE_CALL_MONITOR.classList.remove('u-dn');
                if (!CALL_RESPONSE_BAR.classList.contains('u-dn')) CALL_RESPONSE_BAR.classList += ' u-dn';
            }

            // サイドバー上の通話操作を、受信応答バーに切り替えます
            switch_to_response_bar = () => {
                if (!PHONE_BOOK.classList.contains('u-dn')) PHONE_BOOK.classList += ' u-dn';
                if (!SIDE_CALL_MONITOR.classList.contains('u-dn')) SIDE_CALL_MONITOR.classList += ' u-dn';
                CALL_RESPONSE_BAR.classList.remove('u-dn');
            }



            // 応答ボタン押下でtrueを返す待機関数
            wait_for_call_response = async () => {
                return await new Promise((resolve, reject) => {
                    ANSWER_BTN.addEventListener('click', resolve);
                    REJECT_BTN.addEventListener('click', reject);
                });
            }



            // p2p通信にて、自信の通信状態を保管するgl変数
            CONN = false;
            CALL = false;

            // PeerJsライブラリを用いたp2p通信用クラス
            const MyPeer = class extends Peer {
                constructor() { super(MY_ID) }

                // 指定したclient_idに接続を行う
                async my_connect(other_id) {
                    return await new Promise(resolve => {
                        this.connection = this.connect(other_id)
                        this.connection.on('open', () => resolve(this.connection))
                        // 30秒以内に接続ができない場合、接続を閉じる
                        setTimeout(() => {
                            this.connection.close();
                            resolve(null);
                        }, 30000);
                    })
                }

                // 指定したclient_idに通話を行う
                my_call = (other_id) => {
                    // 自身のデバイスからカメラ映像 + オーディオを取得
                    navigator.mediaDevices.getUserMedia({video : true, audio : true})
                    .then(function (stream) {
                        // 取得したカメラ映像を相手に送信
                        let call = PEER.call(other_id, stream);
                        if (call != null) {
                            show_connected_txt();
                            switch_to_video_monitor();
                            // 自信のモニターを表示
                            SIDE_MY_VIDEO.srcObject = stream;
                            SIDE_MY_VIDEO.play();
                            FULL_MY_VIDEO.srcObject = stream;
                            FULL_MY_VIDEO.play();

                            // 相手からのストリーミングデータ受信処理
                            call.on('stream', function(stream) {
                                // 相手から受信した映像を表示
                                SIDE_OTHER_VIDEO.srcObject = stream;
                                SIDE_OTHER_VIDEO.play();
                                FULL_OTHER_VIDEO.srcObject = stream;
                                FULL_OTHER_VIDEO.play();
                            });

                            // 通話が閉じた場合、
                            call.on('close', () => {

                            })

                        // 通話が繋がらなかった場合
                        //! connを引数にするか それともCONNにセットする案に戻すか
                        } else {

                        }
                    // カメラ映像、オーディオへのアクセスが失敗した場合
                    }).catch(function (error) {
                        console.log(error);
                        hide_connect_txt();
                    });
                }
            }



            // 電話帳がある(=任意のserver内にいる)場合、p2p通信をセットアップ
            if (PHONE_BOOK) {
                PEER = new MyPeer();

                // 接続 / 通話を行う側の処理 ------------------------------------------------

                // サイドバーにて、電話帳の任意の相手を押下した際、相手に電話をかけます
                USER_LIST.map(li => {
                    li.addEventListener('click', () => {
                        show_connecting_txt();
                        // 相手のidを取得
                        let other_id = li.dataset.user_id;
                        PEER.my_connect(other_id)
                        .then((conn) => {
                            if (conn != null) {
                                CONN = true; // 接続状態を接続中(true)に変更
                                conn.send({
                                    name : get_element('#user-info--name').textContent,
                                    b64 : (get_element('#user-info--image img')[0]) ? 
                                        get_element('#user-info--image img')[0].src : null 
                                })

                                // 相手から通話への応答がきた場合の処理
                                conn.on('data', (data) => {
                                    console.log(`${data}`);
                                    // 通話受入の応答だった場合、通話開始
                                    if (data) {
                                        PEER.my_call(other_id);
                                        show_connected_txt();
                                    }
                                })

                                // 接続が閉じた場合
                                conn.on('close', () => {
                                    CONN = false;
                                    switch_to_phone_book();
                                })

                                // 30秒後通話が開始していない場合、接続を閉じる
                                setTimeout(() => {
                                    if (!CALL) {
                                        conn.close();
                                        hide_connect_txt();
                                    }
                                }, 30000);
                            }
                        })
                    });
                })



                // 接続 / 通話を受ける側の処理 -----------------------------------------------

                // 接続がきた際の処理
                PEER.on('connection', (conn) => {
                    // 既に接続がある場合
                    if (CONN) {
                        conn.close();

                    // 接続が存在しない場合
                    } else {
                        CONN = true; // 接続状態を接続中(true)に変更
                        show_connected_txt();

                        // 通話相手の名前と画像を表示
                        conn.on('data', (data) => {
                            SIDE_CALLER_NAME.textContent = data.name;
                            if (data.b64) {
                                SIDE_CALLER_IMAGE.innerHTML = `<img src="${ data.b64 }" alt="">`;
                            } else {
                                SIDE_CALLER_IMAGE.innerHTML = `<i class="fa-solid fa-user"></i>`;
                            }
                        })
                        switch_to_response_bar();

                        conn.on('close', () => {
                            CONN = false;
                            switch_to_phone_book();
                        })

                        // 通話の応答(受入 / 拒否)を選択するまで待機
                        wait_for_call_response()
                        // 通話を受け入れた場合、受入の応答msgを送信
                        .then(() => conn.send(true))
                        // 通話を拒否した場合、接続を閉じ、接続状態をリセット
                        .catch(() => conn.close())
                    }
                })

                // 通話がきた際の処理
                PEER.on('call', (call) => {
                    navigator.mediaDevices.getUserMedia({video : true, audio : true})
                    .then((stream) => {
                        CALL = true;
                        show_connected_txt();
                        switch_to_video_monitor();
                        // 自信のモニターを表示
                        SIDE_MY_VIDEO.srcObject = stream;
                        SIDE_MY_VIDEO.play();
                        FULL_MY_VIDEO.srcObject = stream;
                        FULL_MY_VIDEO.play();

                        // 取得したカメラ映像を相手に送信
                        call.answer(stream);
                        // 相手からのストリーミングデータ受信処理
                        call.on('stream', (stream) => {
                            // 相手から受信した映像を表示
                            SIDE_OTHER_VIDEO.srcObject = stream;
                            SIDE_OTHER_VIDEO.play();
                            FULL_OTHER_VIDEO.srcObject = stream;
                            FULL_OTHER_VIDEO.play();
                        });

                    // カメラ映像、オーディオへのアクセスが失敗した場合
                    }).catch((error) => {
                        console.log(error);
                        hide_connect_txt();
                    });
                });
            }
        </script>
    </body>
</html>
