<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://kit.fontawesome.com/c39d0aac49.js" crossorigin="anonymous"></script>
        {% if is_production %}
        <link rel="stylesheet" href="{{ url_for('static',filename='node/dist/css/main.min.css') }}" media="screen">
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700">
        <link rel="icon" href="data:,">
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
        <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
        <title>
            {% block title %}Log Base{% endblock %}
        </title>
    </head>
    <body id="body">
        <div id="loading"><div class="loader"></div></div>
        {% block layout %}{% endblock %}
        <div id="overlay" class="toggler"></div>

        {% if g.user %}
        <input type="hidden" id="user-name" value="{{ g.user.name }}">
        {% endif %}

        <script src="/static/node/dist/ignored/js/variable.js"></script>

        {% if is_production %}
        <script src="/static/node/dist/js/main.min.js"></script>
        {% else %}
        <script src="/static/node/dist/js/main.js"></script>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script>
            // const OUTPUT_AREA = $('.p-index-main__output');

            // const MSG_NOTICE = $('.p-index-main__msg-notice');


            // // 新着メッセージ通知の表示切替
            // toggle_msg_notice = () => {
            //     let msg_notice = get_element('.p-index-main__msg-notice')[0];
            //     msg_notice.dataset.status = (msg_notice.dataset.status != 'on') ? 'on' : 'off';
            // }


            // // 単一新着メッセージ情報 or 直前通知=>新着メッセージのスライドを挿入
            // insert_msg_slide = (latest_msg, is_initial=false) => {
            //     let msg_content = (latest_msg.content) ? latest_msg.content : '< ファイルが添付されました。>';
            //     if (is_initial) {
            //         MSG_NOTICE.html(
            //             `<div class="msg">
            //                 <p class="user-name u-string-shortener">${ latest_msg.sender_name }</p>
            //                 ：
            //                 <p class="content u-string-shortener">${ msg_content }</p>
            //             </div>`
            //         );
            //     } else {
            //         prev_msg_name = $('.p-index-main__msg-notice .msg .user-name').last().text();
            //         prev_msg_content = $('.p-index-main__msg-notice .msg .content').last().text();
            //         MSG_NOTICE.html(
            //             `<div class="p-index-main__msg-notice-slide" data-status="off">
            //                 <div class="msg">
            //                     <p class="user-name u-string-shortener">${ prev_msg_name }</p>
            //                     ：
            //                     <p class="content u-string-shortener">${ prev_msg_content }</p>
            //                 </div>
            //                 <div class="msg">
            //                     <p class="user-name u-string-shortener">${ latest_msg.sender_name }</p>
            //                     ：
            //                     <p class="content u-string-shortener">${ msg_content }</p>
            //                 </div>
            //             </div>`
            //         );
            //     }
            // }


            // // 最新msgまでスクロールすると新着メッセージ通知を非表示
            // set_msg_notice_removal = () => {
            //     get_element('.p-index-main__output')[0].addEventListener('scroll', (e) => {
            //         if (e.target.scrollTop > OUTPUT_AREA.get(0).scrollHeight - OUTPUT_AREA.get(0).clientHeight - 30
            //         && MSG_NOTICE.get(0).dataset.status == 'on') {
            //             toggle_msg_notice();
            //         }
            //     })                      
            // }
            // if (get_element('.p-index-main__output')[0]) set_msg_notice_removal();


            // execute_update_message_list = () => {
            //     // メッセージリストが存在しない(チャット画面がない)場合、自動更新を無効
            //     if (!$('.p-index-main__msg-list').length) return;

            //     $.ajax ({
            //         type : 'GET',
            //         url : `/channel/${ $('.u-active-item').first().data('chnl_id') }/auto_update`
            //     })
            //     .done((data) => {
            //         if (data.result) {
            //             reflect_channel_messages(data.msg_data)

            //             if (OUTPUT_AREA.get(0).scrollHeight > OUTPUT_AREA.get(0).clientHeight) {
            //                 console.log('hey');
            //                 // 最新msgのうち最後尾の情報を取得
            //                 let latest_msg = data.msg_data.messages.slice(-1)[0];
            //                 // msg通知が非表示の場合 => msg挿入・メッセージ通知を表示
            //                 if (MSG_NOTICE.get(0).dataset.status != 'on') {
            //                     insert_msg_slide(latest_msg, true);
            //                     toggle_msg_notice();
            //                 // msg通知が表示済みの場合 => 直前のmsgと今回取得したmsgのスライドを挿入
            //                 } else {
            //                     insert_msg_slide(latest_msg);
            //                     setTimeout(() => {
            //                         get_element('.p-index-main__msg-notice-slide')[0].dataset.status = 'on';
            //                     }, 100)
            //                 }
            //             }
            //         }
            //     });
            // }

            // $(function(){
            //     setInterval(execute_update_message_list, 2000);
            // });
        </script>
    </body>
</html>
