<!-- entry.html -->

{% extends 'project/user/layout.html' %}

{% block main %}

<section id="p-entry-top" class="l-main__section--entry">
    <div class="content">
        <h1 class="l-main__section-header">WELCOME TO LOG BASE</h1>
        <div class="row">
            <div class="p-entry-top__entry-wrap col-sp-24 col-tab-10 u-mrgn-center--hrzn">
                <a href="{{ url_for('user.entry.login') }}" class="p-entry-top__entry p-entry-top__signin-entry">
                    サインイン
                    <i class="fa-solid fa-angles-right"></i>
                </a>
                <a href="{{ url_for('user.entry.signup') }}" class="p-entry-top__entry p-entry-top__signup-entry">
                    アカウントを作成
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="p-entry-about" class="l-main__section--entry">
    <div id="p-entry-about-content" class="content row vertical-fadein">
        <h1 class="l-main__section-header">このサイトについて</h1>
        <div class="p-entry-about__brief-wrap col-sp-24 col-tab-12 u-mrgn-center--hrzn">
            <div class="l-main__section-brief">
                こちらはポートフォリオ用に作成したWEBアプリです。
                <br>
                基本用途はグループ内でのメッセージのやり取りですが、
                <br>
                PCではビデオチャット機能もございます。
                <br>
                どうぞ手塩にかけたプロダクトに触れていってください。
            </div>
            <a href="https://github.com/kokesi1357/log_base" class="p-entry-about__git-entry" target="_blank">
                GitHub <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</section>
<section id="p-entry-func" class="l-main__section--entry">
    <div id="p-entry-func-content" class="content row">
        <h1 class="l-main__section-header">機能</h1>
        <p class="l-main__section-brief">当アプリにてご利用できる主な機能を紹介します。</p>
        <div class="p-entry-func__modal-entry p-modal-block col col-sp-24 col-tab-8">
            <div class="p-entry-func__thumnail-wrap scale-fadein scale-fadein modal-opener toggler">
                <i class="fa-solid fa-people-roof"></i>
            </div>
            <p class="u-txt-center">サーバ・チャンネル</p>
            <div id="p-modal--func-channel" class="p-modal u-preload modal">
                <div class="p-modal-closer c-btn--quad c-btn--hover-bg-white-back modal-closer toggler"
                    id="modal-closer--func-channel">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="p-modal-wrap">
                    <div class="p-modal-content row">
                        <p class="p-modal-header">サーバ・チャンネル</p>
                        <div class="p-modal-block p-entry-func__modal-txt-block col-sp-24 col-pc-8">
                            <p class="p-entry-func__modal-txt">
                                ユーザが所属するサーバ、サーバ内のチャットスペースとなるチャンネルを生成する機能を実装しました。（ 全デバイス対応 ）
                                <br><br>
                                サーバ追加は、ログイン後「Add Server」より、自身で作成するまたは既存サーバを検索し参加する方法で実行できます。チャンネル追加は、サーバ管理者のみ、サーバ内サイドバーの「+」より実行できます。
                                サーバ・チャンネルともに、「<i class="fa-solid fa-gear"></i>」より設定情報の変更が行えます。
                                <br><br>
                                今後はサーバ管理者の権限委託機能、ban機能、パスワード設定機能 etc.を追加し、セキュアなサーバ管理実現を考えています。
                            </p>
                        </div>
                        <div class="p-modal-block p-entry-func__modal-img-block col-sp-24 col-pc-16">
                            <div class="p-entry-func__modal-thumnails modal-thumnails">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel4_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel5_min.png') }}" alt="">
                            </div>
                            <div class="p-entry-func__modal-mainimage modal-mainimages">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel4_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/channel5_min.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-entry-func__modal-entry p-modal-block col col-sp-24 col-tab-8">
            <div class="p-entry-func__thumnail-wrap scale-fadein modal-opener toggler">
                <i class="fa-solid fa-headset"></i>
            </div>
            <p class="u-txt-center">ビデオチャット</p>
            <div id="p-modal--func-video-chat" class="p-modal u-preload modal">
                <div class="p-modal-closer c-btn--quad c-btn--hover-bg-white-back modal-closer toggler"
                    id="modal-closer--func-video-chat">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="p-modal-wrap">
                    <div class="p-modal-content row">
                        <p class="p-modal-header">ビデオチャット</p>
                        <div class="p-modal-block p-entry-func__modal-txt-block col-sp-24 col-pc-8">
                            <p class="p-entry-func__modal-txt">
                                P2Pを用いた、ビデオ・音声共有機能、ミュート機能、ディスプレイ表示切替機能を実装しました。（ PCのみ対応 ）
                                <br><br>
                                ビデオチャットは以下のフローで開始できます。
                                <br>
                                1. サイドバーの「<i class="fa-solid fa-phone"></i>」押下
                                <br>
                                （ サイドバーに電話帳が表示 ）
                                <br>
                                2. 電話帳の任意のユーザ押下
                                <br>
                                （ 通信が始まり、発信側のサイドバーに発信画面、受信側のサイドバーに受信画面が表示 ）
                                <br>
                                3. 受信側が受信画面の「<i class="fa-solid fa-phone"></i>」を押下
                                <br><br>
                                ビデオチャットは、複数人での通話機能・顔検出してエフェクトをつける機能など、試してみたいことが多くあり、手を加えればもっとおもしろくなりそうです。
                            </p>
                        </div>
                        <div class="p-modal-block p-entry-func__modal-img-block col-sp-24 col-pc-16">
                            <div class="p-entry-func__modal-thumnails modal-thumnails">
                                <img src="{{ url_for('static', filename='/node/dist/img/video1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/video2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video4_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video5_min.png') }}" alt="">
                            </div>
                            <div class="p-entry-func__modal-mainimage modal-mainimages">
                                <img src="{{ url_for('static', filename='/node/dist/img/video1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/video2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video4_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/video5_min.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-entry-func__modal-entry p-modal-block col col-sp-24 col-tab-8">
            <div class="p-entry-func__thumnail-wrap scale-fadein modal-opener toggler">
                <i class="fa-regular fa-comments"></i>
            </div>
            <p class="u-txt-center">メッセージ</p>
            <div id="p-modal--func-message" class="p-modal u-preload modal">
                <div class="p-modal-closer c-btn--quad c-btn--hover-bg-white-back modal-closer toggler"
                    id="modal-closer--func-message">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="p-modal-wrap">
                    <div class="p-modal-content row">
                        <p class="p-modal-header">メッセージ</p>
                        <div class="p-modal-block p-entry-func__modal-txt-block col-sp-24 col-pc-8">
                            <p class="p-entry-func__modal-txt">
                                ファイル添付できるメッセージ送信機能、メッセージ編集機能、添付画像のスライド表示機能を実装しました。（ 全デバイス対応 ）
                                <br><br>
                                テキスト入力またはファイル添付後、「Enter」でメッセージが送信されます。
                                「+」よりファイル添付、「<i class="fa-solid fa-minus"></i>」より添付取消が可能です。
                                テキスト編集は「<i class="fa-regular fa-pen-to-square"></i>」より、ファイル削除は「<i class="fa-solid fa-trash-can"></i>」より行えます。
                                画像押下で、対象に遷移した状態のスライドが表示されます。
                                <br>
                                （ ファイル形式は jpeg・jpg・png・gif・pdf・txt のみ対応しています。 ）
                                <br><br>
                                やり取りをスムーズに行えるよう、非同期でのメッセージ自動更新を仕込みました。
                                より本格的なチャットアプリに近づけるため、メンション機能やスレッド機能等の追加を考えています。
                            </p>
                        </div>
                        <div class="p-modal-block p-entry-func__modal-img-block col-sp-24 col-pc-16">
                            <div class="p-entry-func__modal-thumnails modal-thumnails">
                                <img src="{{ url_for('static', filename='/node/dist/img/message1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/message2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/message3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/message4_min.gif') }}" alt="">
                            </div>
                            <div class="p-entry-func__modal-mainimage modal-mainimages">
                                <img src="{{ url_for('static', filename='/node/dist/img/message1_min.png') }}" alt="" data-status="on">
                                <img src="{{ url_for('static', filename='/node/dist/img/message2_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/message3_min.png') }}" alt="">
                                <img src="{{ url_for('static', filename='/node/dist/img/message4_min.gif') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'project/user/shared/footer.html' %}

{% endblock %}