<!-- in_server.html -->

{% extends 'project/user/layout.html' %}

{% block main %}

<section class="p-index__in-server">
    <!-- コメント / チャンネル作成 -->
    <!-- サイドメニュー pcのみ表示-->
    <div class="p-index__sidebar u-dn-tab-max">
        <div class="p-index__channel-list-wrap">
            <div class="p-index__channel-header">
                <p>CHANNELS</p>
                {% if chnl_form %}
                <button class="p-index__new-channel-btn modal-opener"
                onclick="open_modal_with_closer_id('add-channel')">
                    <i class="fa-solid fa-plus"></i>
                </button>
                {% endif %}
            </div>
            <ul class="p-index__channel-list" id="side-channel-list">
                {% for c in server.channels %}
                {% if c.id == channel.id %}
                <li class="p-index__channel-wrap u-active-item row" id="side-channel--{{ c.id }}"
                data-chnl_id="{{ c.id }}">
                {% else %}
                <li class="p-index__channel-wrap row" id="side-channel--{{ c.id }}"
                data-chnl_id="{{ c.id }}">
                {% endif %}
                    <div class="p-index__channel-name-wrap col-tab-22"
                    onclick="execute_channel_switch(this.parentNode)">
                        <div class="hash-mark"><i class="fa-solid fa-hashtag"></i></div>
                        <p class="channel-name u-string-shortener">{{ c.name }}</p>
                    </div>
                    {% if server.owner_id == g.user.id %}
                    <button class="p-index__channel-setting-btn col-tab-2 modal-opener"
                    onclick="prefill_channel_update(this.parentNode); open_modal_with_closer_id('update-channel')">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <section class="p-index__side-user-section">
            <div class="p-index__phone-operator" id="phone-operator">
                <!-- 電話帳 -->
                <div class="p-index__phone-book">
                    <p class="note-for-call">! 選択したユーザーに発信します !</p>
                    <ul class="p-index__callable-user-list">
                        {% if g.user.id != server.owner_id %}
                        <li class="user-list u-pointer" data-user_id="{{ server.owner_id }}">
                            <div class="user-list-image">
                                {% if server_mem_imgs['owner'] %}
                                    <img src="{{ server_mem_imgs['owner'] }}" alt="">
                                {% else %}
                                    <i class="fa-solid fa-user"></i>
                                {% endif %}
                            </div>
                            <p class="user-list-name u-string-shortener u-f-w--bold">{{ server.owner.name }}</p>
                            <button class="cancel-call-btn u-dn"
                            onclick="">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </li>
                        {% endif %}

                        {% for u in server.users %}
                        {% if g.user.id != u.id %}
                        <li class="user-list u-pointer" data-user_id="{{ u.id }}">
                            <div class="user-list-image">
                                {% if server_mem_imgs['mem'][loop.index0] %}
                                    <img src="{{ server_mem_imgs['mem'][loop.index0] }}" alt="">
                                {% else %}
                                    <i class="fa-solid fa-user"></i>
                                {% endif %}
                            </div>
                            <p class="user-list-name u-string-shortener u-f-w--bold">{{ u.name }}</p>
                            <button class="cancel-call-btn u-dn"
                            onclick="">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- 通話中モニター -->
                <div class="p-index__call-monitor p-index__call-monitor--side u-dn">
                    <div class="user-display">
                        <video id="side-my-video" autoplay></video>
                        <div class="user-name">
                            <p class="u-string-shortener u-f-w--bold">{{ g.user.name }}</p>
                            <i class="fa-solid fa-microphone-slash u-op-0" id="side-my-mike-icon--off"></i>
                        </div>
                        <i class="fa-solid fa-video-slash video-icon--off u-op-0" id="side-my-video-icon--off"></i>
                    </div>
                    <div class="user-display">
                        <video id="side-other-video" autoplay></video>
                        <div class="user-name">
                            <p class="u-string-shortener u-f-w--bold other-name"></p>
                            <i class="fa-solid fa-microphone-slash u-op-0"  id="side-other-mike-icon--off"></i>
                        </div>
                        <i class="fa-solid fa-video-slash video-icon--off u-op-0" id="side-other-video-icon--off"></i>
                    </div>
                    <div class="p-index__call-menu p-index__call-menu--side">
                        <button class="menu-btn" id="video-expand-btn"
                        onclick="open_fixed_section_by_section_id('full-screen-video')">
                            <i class="fa-solid fa-expand"></i>
                        </button>
                        <button class="menu-btn u-bg--alert hung-up-btn" id="side-hung-up-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <button class="menu-btn" id="side-video-disable-btn">
                            <i class="fa-solid fa-video"></i>
                        </button>
                        <button class="menu-btn u-dn" id="side-video-enable-btn">
                            <i class="fa-solid fa-video-slash"></i>
                        </button>

                        <button class="menu-btn" id="side-audio-mute-btn">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                        <button class="menu-btn u-dn" id="side-audio-unmute-btn">
                            <i class="fa-solid fa-microphone-slash"></i>
                        </button>
                    </div>
                </div>

                <!-- 発信側の通信操作バー -->
                <div class="p-index__call-control-bar u-dn" id="calling-bar">
                    <div class="user-img"></div>
                    <p class="user-name u-string-shortener"></p>
                    <div class="control-btn-wrap">
                        <button class="control-btn c-btn u-bg--alert hung-up-btn" id="cancel-call-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>

                <!-- 受信側の応答バー -->
                <div class="p-index__call-control-bar u-dn" id="receiving-bar">
                    <div class="user-img"></div>
                    <p class="user-name u-string-shortener"></p>
                    <div class="control-btn-wrap">
                        <button class="control-btn c-btn u-bg--outstanding" id="answer-call-btn">
                            <i class="fa-solid fa-phone"></i>
                        </button>
                        <button class="control-btn c-btn u-bg--alert hung-up-btn" id="reject-call-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="p-index__user-status-bar">
                <span class="connecting u-dn">Connecting<span></span></span>
                <span class="connected u-dn">Connected<span></span></span>
            </div>
            <div class="p-index__user-action-list row">
                <div class="p-index__side-user-image">
                    {% if user_image %}
                    <img src="{{ user_image }}" alt="">
                    {% else %}
                    <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
                <p class="u-string-shortener u-f-w--bold col-sp-13">{{ g.user.name }}</p>
                <button class="p-index__user-action-btn col-sp-3 toggler" id="phone-operator-opener">
                    <i class="fa-solid fa-phone"></i>
                </button>
                <button class="p-index__user-action-btn col-sp-3"
                onclick="open_fixed_section_by_section_id('user-settings')">
                    <i class="fa-solid fa-gear"></i>
                </button>
            </div>
        </section>
    </div>

    <!-- メッセージ一覧 ・ メッセージフォーム -->
    {% set ns = namespace(prev_date = "") %}
    <main class="p-index-main">
        <div class="p-index-main__output">
            {% if channel %}
            <div class="p-index-main__output-header">Welcome to<br>{{ channel.name }}</div>
            <ul class="p-index-main__msg-list">
                {% for m in channel.messages %}

                {% if loop.index0 == 0 %}
                <div class="p-index-main__date-partition">{{ m.dateToDay }}</div>
                {% elif m.dateToDay > ns.prev_date %}
                <div class="p-index-main__date-partition">{{ m.dateToDay }}</div>
                {% endif %}
                {% set ns.prev_date = m.dateToDay %}

                <li id="msg-{{ m.id }}">
                    <div class="p-index-main__sender-image-wrap">
                        <div class="p-index-main__sender-image c-btn">
                            {% if msg_sender_imgs[m.sender.name] %}
                            <img src="{{ msg_sender_imgs[m.sender.name] }}" alt="">
                            {% else %}
                            <i class="fa-solid fa-user"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-index-main__msg-content">
                        <div class="p-index-main__msg-posting-info">
                            <span class="username u-string-shortener">{{ m.sender.name }}</span>
                            <span class="date">{{ m.dateToMin }}</span>
                            {% if m.user_id == g.user.id %}
                            <button class="p-index-main__msg-manager p-index-main__msg-mdl-opener"
                            data-msg_id="{{ m.id }}" onclick="open_msg_txtarea(this)">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="p-index-main__msg-manager msg-delete-btn confirm-ajax" data-confirm_txt="メッセージを削除しますか？"
                            data-ajax_func="delete-message" data-msg_id="{{ m.id }}">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            {% endif %}
                        </div>

                        {% if m.content %}
                        <div class="p-index-main__msg-text-wrap">
                            <p>{{ m.content|replace("\n", "<br>")|safe }}</p>
                        </div>
                        {% endif %}

                        <div class="p-index-main__msg-file-wrap row">
                            {% if msg_files["img"][loop.index0] %}
                            <ul class="msg-img-flex-box msg-img-flex-box--{{ msg_files['img'][loop.index0]|length }}">
                                {% if msg_files['img'][loop.index0]|length == 3 %}
                                {% set imgs = msg_files['img'][loop.index0] %}
                                <li class="c-menu-wrap flex-item">
                                    <img class="u-pointer" src="{{ imgs[0]['base64'] }}" onclick="unfold_slide(this)">
                                    {% if m.user_id == g.user.id %}
                                    <div class="c-corner-icon-menu">
                                        <button class="c-menu-elm confirm-ajax" data-confirm_txt="添付画像を削除しますか？"
                                        data-ajax_func="delete-message-img" data-img_name="{{ imgs[0]['s3name'] }}"  data-msg_id="{{ m.id }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </div>
                                    {% endif %}
                                </li>
                                <div class="flex-item-wrap--column">
                                    {% for i in range(1, 3) %}
                                    <li class="c-menu-wrap flex-item">
                                        <img class="u-pointer" src="{{ imgs[i]['base64'] }}" onclick="unfold_slide(this)">
                                        {% if m.user_id == g.user.id %}
                                        <div class="c-corner-icon-menu">
                                            <button class="c-menu-elm confirm-ajax" data-confirm_txt="添付画像を削除しますか？"
                                            data-ajax_func="delete-message-img" data-img_name="{{ imgs[i]['s3name'] }}" data-msg_id="{{ m.id }}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </div>

                                {% else %}
                                {% for img in msg_files["img"][loop.index0] %}
                                <li class="c-menu-wrap flex-item">
                                    <img class="u-pointer" src="{{ img['base64'] }}" onclick="unfold_slide(this)">
                                    {% if m.user_id == g.user.id %}
                                    <div class="c-corner-icon-menu">
                                        <button class="c-menu-elm confirm-ajax" data-confirm_txt="添付画像を削除しますか？"
                                        data-ajax_func="delete-message-img" data-img_name="{{ img['s3name'] }}" data-msg_id="{{ m.id }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </div>
                                    {% endif %}
                                </li>
                                {% endfor %}

                                {% endif %}
                            </ul>
                            {% endif %}


                            {% if msg_files["dcmnt"][loop.index0] %}
                            <ul class="p-index-main__msg-dcmnt-list">
                                {% for dcmnt in msg_files["dcmnt"][loop.index0] %}
                                <li class="p-index-main__dcmnt-wrap c-menu-wrap">
                                    {% if ".pdf" in dcmnt['name'] %}
                                    <i class="fa-regular fa-file-pdf"></i>
                                    {% else %}
                                    <i class="fa-solid fa-file-signature"></i>
                                    {% endif %}
                                    <div class="p-index-main__dcmnt-info u-string-shortener">
                                        <a href="{{ dcmnt['url'] }}" download="{{ dcmnt['name'] }}" target="_blank" rel="noopener noreferrer">
                                            {{ dcmnt['name'] }}
                                        </a>
                                        <p>{{ dcmnt["size"] }}</p>
                                    </div>
                                    <div class="c-corner-icon-menu">
                                        {% if m.user_id == g.user.id %}
                                        <button class="c-menu-elm confirm-ajax" data-confirm_txt="添付ファイルを削除しますか？"
                                        data-ajax_func="delete-message-dcmnt" data-dcmnt_name="{{ dcmnt['s3name'] }}" data-msg_id="{{ m.id }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </div>
                    </div>
                </li>

                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if channel %}
        <div class="p-index-main__input">
            <form id="add-message-form" class="p-form__msg-input" name="msg_form" enctype="multipart/form-data"
            data-chnl_id="{{ channel.id }}" onsubmit="return false">
        {% else %}
        <div class="p-index-main__input u-dn">
            <form id="add-message-form" class="p-form__msg-input" name="msg_form" enctype="multipart/form-data"
            data-chnl_id="" onsubmit="return false">
        {% endif %}
                <div class="p-form__preview-showcase u-dn">
                    <ul class="p-form__preview-list"></ul>
                </div>
                <div class="p-form__msg-input-bar row">
                    <label for="add-message--files" class="p-form__file-opener-wrap col-sp-3 col-tab-2">
                        <div id="p-form__file-opener" class="c-btn">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </label>
                    {{ msg_form.content(class="p-form__msg-txtarea col-sp-21 col-tab-22 optimized-text-input", id="add-message--content", rows=1, placeholder="Message", oninput="auto_resize(this)") }}
                    {{ msg_form.files(class="u-dn", id="add-message--files") }}
                </div>
            </form>
        </div>
    </main>
</section>


<!-- モーダル：メッセージに添付するファイル拡張子の使用不可を警告 -->
<div class="p-modal u-preload modal">
    <div class="p-modal-closer c-btn--xquad u-dn-sp modal-closer toggler"
        id="modal-closer--unavailable-format">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="p-modal-wrap">
        <div class="p-modal-content row">
            <div class="p-modal-header">Unavailable file format found!</div>
            <p class="u-txt-center">
                The following file formats are only available :
                <br><br>
                [ jpg, jpeg, png, gif, pdf, txt ]
            </p>
        </div>
    </div>
</div>

<!-- モーダル：メッセージに添付するファイル数の上限オーバーを警告 -->
<div class="p-modal u-preload modal">
    <div class="p-modal-closer c-btn--xquad u-dn-sp modal-closer toggler"
        id="modal-closer--too-many-uploads">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="p-modal-wrap">
        <div class="p-modal-content row">
            <div class="p-modal-header">Too many uploads!</div>
            <p class="u-txt-center">you can only upload 10 files at a time.</p>
        </div>
    </div>
</div>

<!-- モーダル：メッセージに添付するファイルの容量オーバーを警告 -->
<div class="p-modal u-preload modal">
    <div class="p-modal-closer c-btn--xquad u-dn-sp modal-closer toggler"
        id="modal-closer--too-large-data">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="p-modal-wrap">
        <div class="p-modal-content row">
            <div class="p-modal-header">Data in your files is too large!</div>
            <p class="u-txt-center">The max file size is 25MB.</p>
        </div>
    </div>
</div>

<!-- スライド : メッセージの画像を表示 -->
<div class="p-slide-wrap u-dn-by-data">
    <div class="splide" aria-label="Splideの基本的なHTML"></div>
    <div class="p-slide-closer c-btn--quad c-btn--hover-bg-primary"
        onclick="close_slide(this)">
        <i class="fa-solid fa-xmark"></i>
    </div>
</div>


{% if chnl_form %}
<!-- モーダル : チャンネル作成 -->
<div class="p-modal u-preload modal">
    <div class="p-modal-closer c-btn--xquad modal-closer toggler"
        id="modal-closer--add-channel">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="p-modal-wrap">
        <div class="p-modal-content row">
            <div class="p-modal-header">CREATE CHANNEL</div>
            <form id="add-channel-form" class="p-form__wrap" data-server_id="{{ server.id }}"
            novalidate onsubmit="return false">
                {{ chnl_form.name.label(class="p-form__input-label", for="add-channel--name") }}
                <p class="p-form__error-msg" id="error-msg--add-channel-name"></p>
                {{ chnl_form.name(class="p-form__input", id="add-channel--name") }}
                <div class="p-form__submit c-btn--submit u-pointer" id="add-channel--submit">SUBMIT</div>
            </form>
        </div>
    </div>
</div>

<!-- モーダル : チャンネル編集 -->
<div class="p-modal u-preload modal">
    <div class="p-modal-closer c-btn--xquad modal-closer toggler"
        id="modal-closer--update-channel">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="p-modal-wrap">
        <div class="p-modal-content row">
            <div class="p-modal-header">CHANNEL SETTINGS</div>
            <form class="p-form__wrap" id="update-channel-form" novalidate onsubmit="return false">
                {{ chnl_form.name.label(class="p-form__input-label", for="update-channel--name") }}
                <p class="p-form__error-msg" id="error-msg--update-channel-name"></p>
                {{ chnl_form.name(class="p-form__input", id="update-channel--name") }}
                <div class="p-form__submit c-btn--submit u-pointer" id="update-channel--submit">SUBMIT</div>
            </form>
            <div class="c-partition--modal"></div>
            <div class="p-modal-section">
                <button class="p-form__submit c-btn--submit confirm-ajax" id="update-channel--delete"
                data-ajax_func="delete-channel">
                    DELETE CHANNEL
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- 固定セクション : ビデオ通話のフルスクリーン -->
<section id="full-screen-video" class="l-main__fixed-section fixed-section">
    <div class="p-index__call-menu p-index__call-menu--full">
        <button class="menu-btn fixed-section-closer toggler"
        id="fixed-section-closer--full-screen-video">
            <i class="fa-solid fa-compress"></i>
        </button>
        <button class="menu-btn u-bg--alert hung-up-btn" id="full-hung-up-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <button class="menu-btn" id="full-video-disable-btn">
            <i class="fa-solid fa-video"></i>
        </button>
        <button class="menu-btn u-dn" id="full-video-enable-btn">
            <i class="fa-solid fa-video-slash"></i>
        </button>

        <button class="menu-btn" id="full-audio-mute-btn">
            <i class="fa-solid fa-microphone"></i>
        </button>
        <button class="menu-btn u-dn" id="full-audio-unmute-btn">
            <i class="fa-solid fa-microphone-slash"></i>
        </button>
    </div>
    <div class="wide-content">
        <div class="p-index__call-monitor p-index__call-monitor--full">
            <div class="user-display">
                <video id="full-my-video" autoplay></video>
                <div class="user-name">
                    <p class="u-string-shortener u-f-w--bold">{{ g.user.name }}</p>
                    <i class="fa-solid fa-microphone-slash u-op-0" id="full-my-mike-icon--off"></i>
                </div>
                <i class="fa-solid fa-video-slash video-icon--off u-op-0" id="full-my-video-icon--off"></i>
            </div>
            <div class="user-display">
                <video id="full-other-video" autoplay></video>
                <div class="user-name">
                    <p class="u-string-shortener u-f-w--bold other-name"></p>
                    <i class="fa-solid fa-microphone-slash u-op-0" id="full-other-mike-icon--off"></i>
                </div>
                <i class="fa-solid fa-video-slash video-icon--off u-op-0" id="full-other-video-icon--off"></i>
            </div>
        </div>
    </div>
</section>


{% endblock %}